@charset "UTF-8";

@import
  "../bootstrap-variables",                  // See _bootstrap-variables.scss
  "../../_vendor/bootstrap/scss/bootstrap",  // See _vendor/bootstrap/scss/bootstrap.scss
  "layout",
  "navigation",
  "scrollbar";
  @import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');
  @import url('https://fonts.googleapis.com/css?family=Roboto');


$title-color: #CE413F;
$text-color: black;


body {
  color: $text-color;
  font:  $font-body;
}

h1 {
  color: $title-color;
  font:  $font-H;
  margin-top: 20pt;
  margin-bottom: 40pt;
}

h2 {
  font-size: 20pt;
  margin-bottom: 20pt;
}
h6 {
  color: $title-color;
}

.nav-link.disabled  {
  color: #CE413F;
}
.nav-link.active  {
  background-color: #CE413F;
}
.gdm-nav 
{
  background-color: #1F2426;
}
.gdm-nav-level-home 
{
  background-color: #CE413F;
}

img.SW {
  width: 200px;
  float: left;
  margin-top: -35px;
}
img.SDSW{
  width: 800px;
  float: left;
}
img.WF {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 700px;
  float: left;
}

img.PP {
  width: 190px;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
img.WB{
  width: 400px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
img.UI{
  width: 700px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
img.JM{
  width: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
}

